.comment
  .comment_avatar
    = link_to_user comment.user, :login => false, :avatar => :small
  .comment_body
    .comment_header
      .comment_button= button_to "x", comment_path(comment), :method => :delete if current_user.owns? comment
      .comment_date= format_datetime comment.created_at
      %span.comment_author= link_to_user( comment.user, :avatar => :none )
      пишет:
    .comment_text
      = format_comment_text comment
  .clear
