.comment_entity
  .comment_avatar
    = link_to_user comment.user, :login => false, :avatar => :small
  .comment_body
    .comment_header
      .comment_button
        = link_to "&nbsp;", comment_path(comment), :class => "remove_link ico_but" if current_user.owns? comment
      .comment_date= format_datetime comment.created_at
      %span.comment_author= link_to_user( comment.user, :avatar => :none )
      - if defined? show_commentable
        пишет о
        = render( :partial => 'commentable', :object => comment.commentable ).chomp + ':'
      - else
        пишет:
    .comment_text
      = format_comment_text comment
  .clear
