-# нужна локальная переменная +commentable+: комментируемый объект
-# необязательна локальная переменная +comment+: комментарий (используется при рендеринге формы с ошибками)
- comment ||= commentable.comments.new

- semantic_form_for comment do |f|
  = f.semantic_errors
  - f.inputs do
    = f.input :comment, :label => false
    = f.input :commentable_type, :as => :hidden
    = f.input :commentable_id, :as => :hidden
  - f.buttons do
    = f.commit_button :add_comment
      
