%li.user_entity
  .avatar
    = link_to_user user, :login => false, :avatar => :small
  .rating{:title => "Рейтинг"}= format_points user.rating_points
  .digit{:title => "Кол-во прошивок"}
    - fwv_count = user.firmwares.count
    = fwv_count.to_s + image_tag( 'firmware.png', :alt => pl("прошив%{ка,ки,ок}", fwv_count), :class => 'icon' )
  = render :partial => 'match_digits_reverse', :locals => {:obj => user}
  .body
    %span.login= link_to_user user, :avatar => :none
