- title "Статистика"
- actions_for_admin

%ul
  %li
    = "Зарегистрирован#{Russian.p @users_count, '', *%w[о о]}"
    = @users_count
    = "пользовател#{Russian.p @users_count, *%w[ь я ей]}"
  %li
    = "Создан#{Russian.p @fws_count, *%w[а о о]}"
    = @fws_count
    = "прошив#{Russian.p @fws_count, *%w[ка ки ок]}"
  %li
    = "Проведен#{Russian.p @matches_count, '', *%w[о о]}"
    = @matches_count
    = "матч#{Russian.p @matches_count, '', *%w[а ей]}"
  %li
    = "Оставлен#{Russian.p @comments_count, '', *%w[о о]}"
    = @comments_count
    = "комментар#{Russian.p @comments_count, *%w[ий ия иев]}"
