- self_profile = @user == current_user
- title %Q{Пользователь #{@user.login}}

- actions_for_user(@user, @has_firmwares)

.profile_avatar
  - if self_profile
    = link_to avatar_for(@user, :size => :big), "http://gravatar.com", :class => "avatar_link"
    %p
      Сменить аватар можно на <a href="http://gravatar.com/">gravatar.com</a>
  - else
    = avatar_for @user, :size => :big

%dl
  %dt Логин
  %dd=h @user.login
%dl
  %dt Очки рейтинга
  %dd= format_points(@user.rating_points)
%dl
  %dt Позиция в рейтинге
  %dd= @user.rating_position.to_s + "-й из " + @users_count.to_s

- if self_profile
  %dl
    %dt E-mail
    %dd
      =h @user.email
      %i (Виден только тебе)

  - if @user.last_login_at
    %dl
      %dt Заходил
      %dd= "последний раз #{time_ago_in_words @user.last_login_at} назад"

- unless self_profile
  - unless @fws.empty?
    %h3 Список прошивок
    %ul= render @fws
  - else
    %p
      %i Пользователь ещё не создал ни одной прошивки

= render :partial => 'comments/comments', :locals => {:commentable => @user, :comments => @comments}
