- self_profile = @user == current_user
- title %Q{Пользователь #{@user.login}}

- actions_for_user(@user, @has_firmwares)

.profile_avatar
  - if self_profile
    = link_to avatar_for(@user, :size => :big), "http://gravatar.com", :class => "avatar_link"
    %p Сменить можно на <a href="http://gravatar.com/">gravatar.com</a>
  - else
    = avatar_for @user, :size => :big

.info
  %dl
    %dt Очки рейтинга
    %dd
      .rating= format_points(@user.rating_points)
  %dl
    %dt Позиция в рейтинге
    %dd= @user.rating_position.to_s + "-й из " + @users_count.to_s

  %dl
    %dt Успехи в матчах
    %dd= render :partial => 'rating/match_digits', :locals => {:obj => @user}

  - if self_profile
    %dl
      %dt E-mail
      %dd{:title => "Виден только тебе"}=h @user.email

.clear
= render :partial => 'comments/comments', :locals => {:commentable => @user, :comments => @comments}
