%h2 Просмотр профиля
%p
  %b Логин:
  =h @user.login
%p
  %b Очки рейтинга:
  = format_points(@user.rating_points)
%p
  %b Позиция в рейтинге:
  = @user.rating_position.to_s + "-й из " + @users_count.to_s

- if @user == current_user
  %p
    %b Email:
    =h @user.email

  - if @user.last_login_at
    %p= "Последний раз заходил #{time_ago_in_words @user.last_login_at} назад"

  = link_to 'Редактировать', edit_account_path

- unless @fws.empty?
  %p= link_to( 'Сразиться!', new_match_path(:enemy => @user) )

- if @user != current_user
  - unless @fws.empty?
    %h3 Список прошивок
    %ul= render @fws
  - else
    %p
      %i Пользователь ещё не создал ни одной прошивки
