%tr
  %td= link_to_match(match)
  %td= link_to_firmware_version match.first_version, :no_version => true
  %td= link_to_user( match.first_version.firmware.user )
  %td
    %b VS
  %td= link_to_firmware_version match.second_version, :no_version => true
  %td= link_to_user( match.second_version.firmware.user )
  %td= format_points(match.first_points) + ' : ' + format_points(match.second_points)

