%h2
  Список матчей с участием пользователя
  = link_to_user @user

%p
  = link_to "Перейти к списку матчей с участием ваших прошивок", matches_path
  |
  = link_to "Перейти к списку всех матчей", all_matches_path

- if @has_firmwares
  %p= link_to( "Сразиться с #{h @user.login}!", new_match_path(:enemy => @user) )

- paginated_section do
  = render :partial => 'table', :locals => {:matches => @matches}
