:javascript
  var config = #{@replay.config};
  var frames = #{@replay.frames};
  var red_name = "#{@match.first_version.firmware.name}";
  var blue_name = "#{@match.second_version.firmware.name}";

  $(function() { replayer(); });

.replay
  %span.title.red
    = avatar_for @match.first_version.user, :size => :tiny
    = link_to_firmware @match.first_version.firmware
  %span.title.blue
    = avatar_for @match.second_version.user, :size => :tiny
    = link_to_firmware @match.second_version.firmware

  #canvas

  %p Лог матча:
  #logger
