%h2
  Просмотр повтора матча
  = link_to_match @match

:javascript
  var config = #{@replay.config};
  var frames = #{@replay.frames};

%p
  %i
    = link_to_firmware @match.first_version.firmware
    в красном,
    = link_to_firmware @match.second_version.firmware
    в синем

#replay-canvas

%p
  Лог:
  %hr
  %pre#replay-logger
  %hr
