%h2
  Просмотр повтора матча
  = link_to_match @match

:javascript
  var config = #{@replay.config};
  var frames = #{@replay.frames};
  var red_name = "#{@match.first_version.firmware.name}";
  var blue_name = "#{@match.second_version.firmware.name}";

%p
  %i
    = link_to_firmware @match.first_version.firmware
    в красном,
    = link_to_firmware @match.second_version.firmware
    в синем

#replay-canvas

%p Лог матча:
#replay-logger
