- title "Матч"
- actions_for_match @match

- if @replay_immediately
  :javascript
    $(function() {
      $('.show-replay').click();
    });

.match
  .first
    - fwv = @match.first_version
    - user = fwv.user
    .avatar= link_to_user user, :login => false, :avatar => :small
    .firmware= link_to_firmware_version fwv, :no_version => true, :max_length => 14
    .user
      от
      = link_to_user user, :avatar => :none
  .center
    .vs
      VS
  .second
    - fwv = @match.second_version
    - user = fwv.user
    .avatar= link_to_user user, :login => false, :avatar => :small
    .firmware= link_to_firmware_version fwv, :no_version => true, :max_length => 14
    .user
      от
      = link_to_user user, :avatar => :none
  .clear
  .result
    - if @match.failed?
      .fail
        -# TODO вывести сообщение об ошибке
        %span.text Ошибка во время исполнения
    - else
      - if @match.draw?
        .draw
          %span.text Ничья
      - else
        - r = @match.result == :first ? [:winner, :loser] : [:loser, :winner]
        - pics = {:winner => 'win.png', :loser => 'loss.png'}
        - words = {:winner => 'Победитель', :loser => ' Проигравший'}
        .left
          = image_tag( pics[r.first], :alt => '', :class => 'icon' )
          %span.text= words[r.first]
        .center
          .points{:title => "Очки рейтинга победителя"}
            = "+" + format_points( @match.send "#{@match.result}_points" )
        .right
          %span.text= words[r.second]
          = image_tag( pics[r.second], :alt => '', :class => 'icon' )
  .info
    .date= format_datetime @match.created_at
    - if @match.user
      .initiator инициатор #{link_to_user @match.user}



= render :partial => 'comments/comments', :locals => {:commentable => @match, :comments => @comments}
