%h2 Просмотр информации о матче

%h3
  = link_to_firmware_version @match.first_version
  VS
  = link_to_firmware_version @match.second_version

- unless @match.user.nil?
  %p
    %b
      Матч инициирован игроком
      = link_to_user @match.user

- fwv = @match.send("#{@match.rt_error_bot}_version")
%p
  Во время проведения матча в прошивке #{link_to_firmware_version fwv, :version => false}
  произошла ошибка:
  =h @match.rt_error_msg
