- title "Матч"

- action "Матч", match_path(@match)
- action "Повтор матча", play_match_path( @match ), :id => 'show-replay', :class => 'nyroModal'

.vs_block
  .vs_left
    - fwv = @match.first_version
    = link_to_user fwv.user, :login => false, :avatar => :medium
    = link_to_firmware_version fwv
    <br/>
    автор
    = link_to_user fwv.user, :avatar => :none

  .vs_middle
    VS

  .vs_right
    - fwv = @match.second_version
    = link_to_user fwv.user, :login => false, :avatar => :medium
    = link_to_firmware_version fwv
    <br/>
    автор
    = link_to_user fwv.user, :avatar => :none
.clear

- unless @match.user.nil?
  %dl
    %dt Инициатор
    %dd= link_to_user @match.user

- unless @match.draw?
  %dl
    %dt Победитель
    %dd= link_to_firmware_version @match.winner_version
  %dl
    %dt Получает
    %dd
      = format_points(@match.winner_points)
      очков рейтинга
- else
  %dl
    %dt Результат
    %dd= Ничья!

= render :partial => 'comments/comments', :locals => {:commentable => @match, :comments => @comments}
