%h2 Просмотр информации о матче

%h3
  = link_to_firmware_version @match.first_version
  VS
  = link_to_firmware_version @match.second_version

- unless @match.user.nil?
  %p
    %b
      Матч инициирован игроком
      = link_to_user @match.user

- unless @match.draw?
  %p
    %b Победитель:
    = link_to_firmware_version @match.winner_version
  %p
    %b Получает:
    = format_points(@match.winner_points)
    очков рейтинга
- else
  %p
    %b Ничья!

%p= link_to "Повтор матча", play_match_path( @match ), :id => 'show-replay', :class => 'nyroModal'
