%h2= %Q{Прошивка "#{h @fw.name}"}

%p
  %b Автор
  = link_to_user @fw.user
  
%p
  %b= "Последняя версия прошивки ##{@fw.versions.last_number}"
=render :partial => 'syntax', :locals => {:fw => @fw}

%p= link_to( 'Сразиться!', match_choose_yours_path(@fw) )
%p= link_to( 'Редактировать', edit_firmware_path(@fw) ) if current_user.owns? @fw

= render :partial => 'code', :locals => {:code => @fw.versions.last.code}

= link_to( 'Редактировать', edit_firmware_path(@fw) ) if current_user.owns? @fw
