- title %Q{Версия ##{@fwv.number} прошивки "#{@fw.name}"}

- actions_for_firmware(@fw)

%dl
  %dt Создана
  %dd= format_datetime @fwv.created_at

%dl
  %dt Комментарий
  %dd= format_firmware_version_message @fwv

= render :partial => 'syntax', :locals => {:fwv => @fwv}

= render :partial => 'code', :locals => {:fwv => @fwv}

