%h2=%Q{Версия ##{@fwv.number} прошивки "#{h @fw.name}"}

%p
  %b
    Создана:
  = format_datetime @fwv.created_at
= render :partial => 'syntax', :locals => {:fwv => @fwv}

%p
  = link_to_firmware @fw, :text => "Перейти к последней версии (##{@fw.versions.last_number})"
  |
  = link_to "История версий", firmware_versions_path(@fw)

= render :partial => 'code', :locals => {:fwv => @fwv}
