%h2=%Q{Версия ##{@fwv.number} прошивки "#{h @fw.name}"}

%p
  %b
    Создана:
  = format_datetime @fwv.created_at

%p= link_to_firmware @fw, :text => "Перейти к последней версии (##{@fw.versions.last_number})"

= render :partial => 'syntax', :locals => {:fwv => @fwv}
= render :partial => 'code', :locals => {:code => @fwv.code}


