%h2= %Q{Прошивка "#{h @fw.name}"}

%p
  %b Автор:
  = link_to_user @fw.user
%p
  %b Очки рейтинга:
  = format_points(@fw.rating_points)
%p
  %b Позиция в рейтинге:
  = @fw.rating_position.to_s + "-я из " + @fws_count.to_s
%p
  %b Исходный код:
  = @fw.shared? ? "открытый" : "закрытый"
%p
  %b Доступность для сражения:
  = "не" unless @fw.available?
  доступна
  

- @fwv = @fw.version
%p
  %b Последняя версия прошивки:
  = "##{@fwv.number}"
%p
  = link_to( 'Сразиться!', new_match_path(:enemy_fw => @fw) ) + ' |' if can_fight_with? @fw
  = link_to "История версий", firmware_versions_path(@fw)
  = '| ' + link_to( 'Редактировать', edit_firmware_path(@fw) ) if current_user.owns? @fw

= render :partial => 'syntax', :locals => {:fwv => @fwv}
= render :partial => 'code', :locals => {:code => @fwv.code, :firmware => @fw}

%p= link_to( 'Редактировать', edit_firmware_path(@fw) ) if current_user.owns? @fw
