- title %Q{Прошивка "#{@fw.name}"}

- actions_for_firmware(@fw)

-# общая информация
.info
  %dl
    %dt Автор
    %dd= link_to_user @fw.user

  %dl
    %dt Очки рейтинга
    %dd= format_points(@fw.rating_points)

  %dl
    %dt Позиция в рейтинге
    %dd= @fw.rating_position.to_s + "-я из " + @fws_count.to_s

  %dl
    %dt Успехи в матчах
    %dd= render :partial => 'rating/match_digits', :locals => {:obj => @fw}

  %dl
    %dt Исходный код
    %dd
      = @fw.shared? ? "открытый" : "закрытый"
      = '(' + link_to( "просмотреть", code_user_firmware_path(@user, @fw), :id => "show-code", :class => 'nyroModal' ) + ')' if can_see_code_of? @fw

  %dl
    %dt Сражения
    %dd= @fw.available? ? "разрешены" : "запрещены"

  %dl
    %dt Последняя версия
    %dd= link_to_firmware_version_with_message @fwv

-# комментарии
= render :partial => 'comments/comments', :locals => {:commentable => @fw, :comments => @comments}
.clear

