!!! 5
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %title= "Webobots"
    = stylesheet_link_tag *%w{style}
    = formtastic_stylesheet_link_tag
    = javascript_include_tag *%w{application raphael}
    %link{:rel => 'icon', :href => '/favicon.ico', :type => 'image/x-icon'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/x-icon'}

  %body
    %header
      .account-panel
        - if current_user
          Вы вошли как
          = link_to_user(current_user) + "."
          = link_to "Выйти", logout_path
        - else
          = link_to "Регистрация", signup_path
          |
          = link_to "Войти", login_path

      %h1.logo= link_to "Webobots Site", root_path

      - if current_user
        %nav
          = link_to "Пользователи", users_path
          |
          = link_to "Прошивки", firmwares_path
          |
          = link_to "Матчи", matches_path
          |
          = link_to "Рейтинг", users_rating_path
          - if current_user.admin?
            |
            = link_to "Админка", admin_path

      .clear

    %section
      = flash_sections
      = yield
